body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #fff;
	background-color: #849d8f;
	transition: 0.5s;
}

.catalog-page {
	background-image: url(../img/bg-layout.png);
	background-repeat: repeat-x;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0,0,0,0);
	overflow: hidden;
}

.conteiner {
	margin: 0 auto;
	width: 1146px;
}

.main-header {
	display: flex;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
}

.header-logo {
	margin: 0;
	padding: 0; 
	height: 64px;
	margin-top: 8px;
}

.main-header nav {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-page .main-header nav {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.main-header nav:after {
	content: '';
	width: 100%;
	order: 1;
}

.breadcrumbs-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 23px;
	justify-content: space-between;
	display: flex;
	order: 2;
}

.breadcrumbs-list li {
	margin-right: 2px;
}

.breadcrumbs-list li:last-child {
	margin-right: 0;
}

.breadcrumbs-list a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:active,
.breadcrumbs-list a:focus {
	color: #e84d37;
	outline: 0;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
	border-bottom: 1px solid rgba(236,89,60, 0.3);
}

.breadcrumbs-list .bread-current {
	border: 0;
}

.breadcrumbs-list .bread-current:hover,
.breadcrumbs-list .bread-current:focus,
.breadcrumbs-list .bread-current:active {
	border: 0;
	color: #fff;
}

.site-nav {
	margin: 0;
	padding: 0;
	margin-top: 27px;
	margin-left: 10px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.site-nav li {
	height: 30px;
}

.site-nav a {
	text-decoration: none;
	position: relative;
	line-height: 18px;
	padding: 6px 14px;
	color: #fff;
	outline: 0;
	border-radius: 15px;
}

.site-nav span {
	border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.site-current {
	background-color: #d07058;
}

.site-current span {
	border: 0;
}

.site-nav li:hover span {
	border: 0;
}

/*.site-nav .link-item:visited {
	background-color: #d07058;
	color: #fff;
}
*/
.site-nav .header-link:hover,
.site-nav .header-link:focus {
	transition: 0.4s;
	background-color: #fff;
	border: 0;
	color: #000;
}

.site-nav .header-link:active,
.user-nav .header-link:active {
	transition: 0.1s;
	box-shadow: inset 0px 2px 1px 1px #696969;
}

.catalog-nav a:active {
	box-shadow: none;
}

.catalog-hover:hover .catalog-nav {
	display: block;
}

.catalog-nav {
	position: absolute;
	display: none;
	box-shadow: 0px 20px 40px 0 rgba(0,0,0,0.4);
	top: 33px;
	border-radius: 5px;
	height: 175px;
	width: 145px;
	color: #000;
	background-color: #f8f7f4;
}

.catalog-nav:before {
	top: -4px;
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 25px;
	background-color: transparent;
}

.catalog-show {
	display: block;
}

.catalog-nav p {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	margin-top: 12px;
	margin-right: 9px;
	margin-left: 6px;
	padding-left: 15px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

.catalog-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-nav li {
	margin: 0;
	height: auto;
}

.catalog-nav a {
	display: block;
	padding-bottom: 9px;
	color: #000;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding-left: 21px;
	padding-top: 8px;
	border-radius: 0;
}

.catalog-nav a:visited {
	background-color: #d07058;
}

.catalog-nav a:hover,
.catalog-nav a:focus {
	background-color: #fbded8;
	transition: 0.4s;
}

.catalog-nav a:active {
	background-color: #f6b5a5;
}

.catalog-nav li:first-child a {
	padding-top: 10px;
}

.catalog-nav li:last-child a {
	border-radius: 5px;
}

.phone-number {
	margin: 0;
}

.user-nav {
	margin: 0;
	padding: 0;
	margin-top: 23px;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style: none;
	display: flex;
	width: 265px;
}

.user-nav .user-links {
	position: relative;
	border-radius: 20px;
	display: inline-block;
	background-color: rgba(255,255,255,0.2);
	padding: 8px 0;
	vertical-align: middle;
	padding-left: 45px;
	padding-right: 16px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.user-nav .user-links:focus:not(.basket) {
	outline: 0;
}

.user-nav li {
	margin-right: 10px;
}

.user-nav li:nth-child(3),
.user-nav li:last-child {
	margin-right: 0;
}

.user-nav .basket {
	padding-right: 33px;
}

.catalog-page .basket {
	padding-right: 17px;
}

.user-nav svg {
	margin-top: -10px;
	top: 50%;
	left: 15px;
	position: absolute;	
}

.loop-icon svg {
	position: static;
	margin: 0;
	margin-top: 4px;
}

.user-nav .loop-icon {
	padding: 4px 8px;
}

.user-nav .user-links:hover,
.user-nav .user-links:focus {
	transition: 0.4s;
	background-color: #fff;
	color: #000;
}

.user-nav .user-links:active,
.user-nav .user-links:active {
	transition: 0.1s;
	box-shadow: inset 0px 2px 1px 1px #696969;
}

.user-nav a:hover path,
.user-nav a:hover circle,
.user-nav a:hover polygon,
.user-nav a:focus path,
.user-nav a:focus circle,
.user-nav a:focus polygon {
	fill: #000;
}

.catalog-page .basket path,
.catalog-page .basket circle {
	fill: #000;
}

.catalog-page .basket polygon,
.catalog-page .basket:hover polygon,
.catalog-page .basket:focus polygon {
	fill: #e84d37;
}

.catalog-page .basket {
	color: #000;
	background-color: #fff;
}

.loop-link {
	position: relative;
}

.find {
	padding: 20px;
	width: 340px;
	position: relative;
	margin-top: 5px;
	background-clip: padding-box;
	border-radius: 5px;
	background-color: #f8f7f4;
	position: absolute;
	right: 0;
	display: none;
	box-shadow: 0px 20px 40px 0 rgba(0,0,0,0.4);
}

.find-show {
	display: block;
}

.find:before {
	top: -5px;
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	background-color: transparent;
}

.loop-link:hover .find,
.loop-link a:focus + .find{
	display: block;
}

.find-form input {
	font-family: inherit;
	text-decoration: none;
	padding: 10px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding-left: 15px;
	padding-right: 164px;
	border: none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.find-form input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px #8fbdec;
}

.find-form input:hover {
	outline: 0;
	box-shadow: 0 0 0 2px #c7c6c5;
}

.login-li {
	position: relative;
}

.feedback-header {
	padding: 20px 0;
	right: 0;
	position: absolute;
	border-radius: 5px;
	background-color: #f8f7f4;
	width: 278px;
	margin-top: 5px;
	display: none;
}

.feedback-header:before {
	top: -5px;
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	background-color: transparent;
}

.login-li:hover .feedback-header,
.login-li a:focus + .feedback-header{
	display: block;
}

.feedback-header-show {
	display: block;
}

.feedback-header-form {
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}

.feedback-header-form input {
	padding: 9px 15px;
	font-family: inherit;
	width: 210px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.feedback-header-form input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px #8fbdec;
}

.feedback-header-form input:hover {
	outline: 0;
	box-shadow: 0 0 0 2px #c7c6c5;
}

.button-sbm {
	background: linear-gradient(to top, #e74a35, #f26843);
	border: 0;
	box-shadow: 0 1px 3px 1px #ac1000;
	padding: 0;
	margin: 0;
	padding: 0 25px;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
	border-radius: 22px;
	font-weight: 700;
	height: 50px;
	outline: 0;
}

.button-sbm:hover,
.button-sbm:active,
.button-sbm:hover,
.button-sbm:active,
.button-sbm:focus {
	background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
}

.button-sbm:active, 
.button-sbm:active {
	background: linear-gradient(to bottom,#d74632 0%,#e1613e 100%);
	box-shadow: inset 0 2px 2px 0px #942718;
}

.feedback-header-links {
	margin: 0;
}

.feedback-header-links a {
	margin: 0;
	padding: 0;
	display: block;
	text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	color: #000;
}

.links-wrap {
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}

.feedback-header-links a:hover,
.feedback-header-links a:active,
.feedback-header-links a:focus {
	color: #e84d37;
	outline: 0;
}

.feedback-header-links a:hover .links-wrap,
.feedback-header-links a:focus .links-wrap {
	border-bottom: 1px solid rgba(236,89,60, 0.3);
}

.user-nav .basket {
	margin-right: 0;
}

.basket-li:hover .basket-header {
	display: block;
}

.basket-header {
	padding: 20px 15px;
	right: 0;
	position: absolute;
	border-radius: 5px;
	background-color: #f8f7f4;
	margin-top: 5px;
	display: none;
	box-shadow: 0px 20px 40px 0 rgba(0,0,0,0.4);
}

.basket-header:before {
	top: -5px;
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	background-color: transparent;
}

.basket-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.basket-item {
	color: #000;
}

.basket-item:first-child {
	color: #000;
}

.basket-item table td,
.basket-item table tr,
.basket-item table {
	padding: 0;
	margin: 0;
	vertical-align: top;
	padding-top: 10px;
	border-collapse: collapse;
}

.basket-item table td {
	padding-left: 30px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	display: inline-block;
	margin-bottom: 20px;
}

.basket-item table b {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #999999;
}

.basket-item table {
	border-bottom: 1px solid #cacac7;
}

.basket-item table tr:last-child {
	margin-bottom: 0;
}

.basket-item table td:first-child,
.basket-item table td:nth-child(3) {
	padding-left: 0;
}

.basket-item table td:first-child {
	padding-top: 0;
}

.basket-item table td:nth-child(2) {
	vertical-align: top;
	padding: 0 15px;
}

.basket-item-remove {
	position: relative;
	font-size: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}

.basket-item-remove:before,
.basket-item-remove:after {
	content: '';
	width: 15px;
	height: 1px;
	top: 2px;
	left: 0;
	position: absolute;
	background-color: #000;
}

.basket-item-remove:before {
	transform: rotate(45deg);
}

.basket-item-remove:after {
	transform: rotate(-45deg);
}

.basket-item:nth-child(2),
.basket-item:last-child {
	margin-top: 15px;
	text-align: right;
}

.basket-checkout {
	padding: 0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 8px 15px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 30px;
	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 1px 3px 1px #ac1000;
	outline: 0;
}

.basket-checkout:hover,
.basket-checkout:active,
.basket-checkout:focus {
	background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
}

.basket-checkout:active {
	background: linear-gradient(to bottom,#d74632 0%,#e1613e 100%);
	box-shadow: inset 0 2px 2px 0px #942718;
}

.basket-show {
	display: block;
}

.table-item-show {
	display: none;
}

.phone-number {
	margin: 0;
	text-align: right;
	margin-top: 19px;
	font-size: 14px;
	line-height: 16px;
}

.number {
	margin: 0;
	margin-top: 4px;
	font-size: 22px;
	line-height: 24px;
	display: block;
}

/*Стилизация offer*/

.offer h1 {
	margin: 0;
	margin-bottom: 33px;
	text-align: center;
	font-size: 60px;
	line-height: 60px;
}

.slider {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	padding-top: 20px;
}

.slider-wrap{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	position: relative;
}

.button-slider, .button {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 40px;
	margin-right: 434px;
	font-size: 32px;
	line-height: 44px;
	border-radius: 30px;
	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 1px 3px 1px #ac1000;
	text-shadow: 0px 2px 5px #a0200b;
	outline: 0;
}

.button-slider:hover,
.button-slider:active,
.button-slider:focus,
.button:hover,
.button:active,
.button:focus {
	background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
}

.button-slider:active, 
.button:active {
	background: linear-gradient(to bottom,#d74632 0%,#e1613e 100%);
	box-shadow: inset 0 2px 2px 0px #942718;
}

.slider li {
	margin-left: 4px;
}

.slider li:first-child {
	margin: 0;
}

.slider-item label {
	display: inline-block;
}

.slider-item input {
	margin: 0;
	display: none;
}

.radio-indicator:hover:not(.page-active) {
	background-color: #b2c1b7;
}

.radio-indicator:focus:not(.page-active) {
	background-color: #b2c1b7;
	outline: 0;
}

.page-active {
	background-color: #fff;
}

.slider-page-wrap {
	height: 423px;
	position: relative;
}

.slider-page {
	transition: 0.5s;
	opacity: 0;
	top: 0;
	height: 423px;
	width: 100%;
	position: absolute;
}

.slider-page h1 {
	top: 270px;
	z-index: 1;
	width: 100%;
	left: 0;
	position: absolute;
}

.slider-page img {
	top: -120px;
	left: 50%;
	z-index: -1;
	margin-left: -523px;
	position: absolute;
}

.page-show {
	opacity: 1;
}

.radio-indicator {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	outline: 0;
}

.offer-block-wrap {
	display: flex;
	justify-content: space-between;
	z-index: 1;
	position: relative;
}

.offer-block-wrap {
	padding: 0;
	margin: 0;
	list-style:none;
}

.offer-block {
	background-color: #a00002;
	background-image: url(../img/malin.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 19px;
	padding-left: 20px;
	padding-right: 26px;
	border-radius: 17px;
	padding-bottom: 25px;
	margin-bottom: 40px;
}

.offer-block h3 {
	display: inline-block;
	font-size: 35px;
	line-height: 41px;
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
}

.offer-block p, .offer-block2 p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-bottom: 44px;
}

.offer-block-wrap .offer-link {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 21px;
	font-size: 18px;
	border-radius: 30px;
	float: right;
	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 1px 3px 1px #ac1000;
}

.offer-block-wrap .offer-link:hover,
.offer-block-wrap .offer-link:focus {
	background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
	outline: 0;
}

.offer-block-wrap .offer-link:active {
	background: linear-gradient(to bottom,#d74632 0%,#e1613e 100%);
	box-shadow: inset 0 2px 2px 0px #942718;
}

.offer-block-wrap li:last-child {
	background-color: #4d2916;
	background-image: url(../img/chocolate.jpg);
}

/*Стилизация catalog*/

.catalog {
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin-bottom: 36px;
}

.catalog-item {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
}

.catalog-item img {
	margin-bottom: 15px;
	position: relative;
	z-index: 1;
}

.signature-link {
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding: 0;
	font-weight: 500;
	z-index: 2;
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.signature-link:hover,
.signature-link:active,
.signature-link:focus {
	color: #e84d37;
	outline: 0;
}

.signature-link:hover,
.signature-link:focus {
	border-bottom: 1px solid rgba(236,89,60, 0.3);
}

.image-link {
	padding: 0;
	margin: 0;
	max-height: 267px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	margin-bottom: 14px;
}

.price {
	position: absolute;
	top: 211px;
	color: #fff;
	left: 0;
	z-index: 1;
	font-size: 45px;
	line-height: 45px;
}

.price b {
	font-size: 30px;
	line-height: 45px;

}

.preview {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	text-shadow: none;
	z-index: 1;
	display: inline-block;
	top: 338px;
	left: 50%;
	margin-left: -100px;
	max-width: 200px;
	font-size: 18px;
	line-height: 24px;
	position: absolute;
	display: none;
}

.preview-show {
	display: block;
}

.catalog-item:hover .preview,
.catalog-item:hover .image-link-show{
	display: block;
}


.catalog-item:before {
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 2;
	background-image: url(../img/hit.png);
}

.image-link-show {
	top: -6px;
	left: -13px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 85px;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0px 5px 60px 0px rgba(0,0,0,0.4);
	border-radius: 5px;
	display: none;
}

.link-show {
	display: block;
}

/*Стилезация about-shop*/

.about-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1146px;
}

.about-us {
	background-color: #ece1c6;
	background-image: url(../img/about-bg.jpg);
	background-repeat: no-repeat;
	border-radius: 18px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	margin-bottom: 39px;
}

.about-us h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 9px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #000;
}

.about-item p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-top: 14px;
	line-height: 22px;
	margin-left: 8px;
	color: #000;
	font-weight: 400;
	display: inline-block;
}

.about-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 6px;
}

.about-shop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog {
	background-color: #fff;
	background-image: url(../img/strawberry.png);
	color: #000;
	padding-top: 22px;
	padding-left: 20px;
	padding-right: 253px;
	padding-bottom: 86px;
	border-radius: 13px;
}

.blog p {
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.blog-title {
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
}

.blog-link {
	text-decoration: none;
	color: #000;
	background-image: linear-gradient(to bottom, #000, #000);
	background-position: 0 27px;
 	background-repeat: repeat-x;
  	background-size: 1px;
}

.blog-link:hover,
.blog-link:active,
.blog-link:focus {
	color: #e84d37;
	outline: 0;
	background-image: linear-gradient(to bottom, rgba(236,89,60, 0.3), rgba(236,89,60, 0.3));
}

.mail {
	padding: 5px;
	color: #5a5a5a;
	position: relative;
}

.mail-bg {
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	position: absolute;/*#fe9e90 40px*/
	z-index: -1;
	background-image: repeating-linear-gradient(135deg,
                        #fff 0, #fff 7px,
                        #92cdff 7px, #92cdff 14px,
                        #fff 14px, #fff 21px, 
                        #fe9e90 21px, #fe9e90 28px);
	border-radius: 15px;
}

.write-mail label {
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 34px;
	padding: 0;
}

.write-mail {
	padding: 30px 20px;
	background-color: #f8f7f4;
	border-radius: 15px;
}

.write-mail input {
	padding: 12px 12px;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	width: 100%;
	max-width: 340px;
}

.write-mail input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px #8fbdec;
}

.write-mail input:hover {
	outline: 0;
	box-shadow: 0 0 0 2px #c7c6c5;
}

.send-btn {
	padding: 0;
	margin: 0;
	padding: 10px 13px;
	text-shadow: none;
	font-size: 18px;
	font-weight: 700;	
	line-height: 24px;
	border: 0;
	cursor: pointer;
	margin-left: 12px;
}

/*Стилизация footer*/

footer .conteiner{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 18px;
	margin-bottom: 30px;
	justify-content: space-between;
}

.map {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	height: 430px;
	background-image: url(../img/map.jpg);
}


.feedback {
	display: inline-block;
	text-align: left;
	position: absolute;
	z-index: 1;
	color: #000;
	top: 60px;
	right: 0;
	background-color: #fff;
	margin-left: auto;
	margin-right: 27px;
	padding-right: 0;
	padding: 30px;
	padding-left: 25px;
	border-radius: 10px;
}

.feedback p {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.feedback span {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	display: block;
}

.feedback .phone {
	margin-top: 18px;
}

.feedback-button {
	padding: 0;
	margin: 0;
	padding: 10px 25px;
	margin-top: 29px;
	font-size: 18px;
	line-height: 24px;
}

.footer-nav {
	margin: 0;
	padding: 0;
	margin-top: 13px;
	list-style: none;
	display: flex;
	flex-direction: row;
	max-width: 306px;
	flex-wrap: wrap;
	background-image: url(../img/heart.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 22px;
}

.footer-nav-item:nth-child(1) a {
	font-weight: 700;
}

.footer-nav-item:nth-child(2) {
	order: 2;
	margin-right: 42px;
}

.footer-nav-item:nth-child(3) {
}


.footer-nav-item:nth-child(4) {
	order: 3;
	margin-right: 0;
}

.footer-nav li {
	margin-right: 30px;
	padding-bottom: 0;
}

.social a{
	font-size: 0;
	margin-right: 8px;	
	outline: 0;
}

.social svg {
	border: 3px solid #c2cec7;
	border-radius: 50%;
}

.social a:hover path {
	fill: #fff;
}

.social a:focus path {
	fill: #fff;
}

.social a:last-child {
	margin-right: 0;
}

.footer-nav-item a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-nav-item a:hover,
.footer-nav-item a:active,
.footer-nav-item a:focus {
	color: #e84d37;
	outline: 0;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
	border-bottom: 1px solid rgba(236,89,60, 0.3);
}

.copyright img { 
	width: 108px;
	height: 39px;
}

.copyright b {
	display: block;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.social {
	margin: 0;
	margin-top: 13px;
}

.copyright {
	margin: 0;
}

.copyright a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.copyright a:hover,
.copyright a:active,
.copyright a:focus {
	color: #e84d37;
	outline: 0;
}

.copyright a:hover,
.copyright a:focus {
	border-bottom: 1px solid rgba(236,89,60, 0.3);
}

/*Стилизация modal*/

.modal {
	top: 50%;
	margin-top: -230px;
	position: fixed;
	z-index: 2;
	width: 480px;
	left: 50%;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 17px;
	box-sizing: border-box;
	margin-left: -240px;
	background-color: #f8f7f4;
  	border-radius: 10px;
  	display: none;
}

.modal-show {
	display: block;
}

.modal-close:after, .modal-close:before {
	content: '';
	right: -3px;
	height: 2px;
	width: 23px;
	background-color: #000;
	position: absolute;
}

.modal-close:after {
	transform: rotate(45deg);
}

.modal-close:before {
	transform: rotate(-45deg);
}

.modal-close {
	border: 0;
	position: absolute;
	top: 15px;
	right: 16px;
	width: 17px;
	height: 17px;
	background-color: transparent;
	cursor: pointer;
}

.modal h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color: #000;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-item input {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 12px;
	width: 100%;
	max-width: 267px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-family: inherit;
	border: 0;
	border: 1px solid #d3d3d2;
	font-size: 16px;
 	border-radius: 5px;
}

.modal-item input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px #8fbdec;
}

.modal-item input:hover {
	outline: 0;
	box-shadow: 0 0 0 2px #c7c6c5;
}

.modal-item input:focus {
	outline: 0;
	border: 2px solid #8fbdec;
}

.modal-item:nth-child(3) input {
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 125px;
	max-width: 100%;
}

.modal-button {
	padding: 12px 30px;
	margin: 0;
	border: 0;
	margin-left: auto;
	font-size: 18px;
	line-height: 24px;
	text-shadow: none;
	margin-bottom: 25px;
}

.overlay {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

.overlay-show {
	display: block;
}

/*catalog page style*/

.catalog-filters * {
	border: 1px solid red;
}

.catalog-filters h1 {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
	padding: 0;
	margin-bottom: 19px;
}

.sort-form {
	display: flex;
	flex-wrap: wrap;
	max-width: 860px;
}

.fat-content {
	border: none;
	flex-grow: 
	padding: 0;
}

.fillers-list {
	border: none;
}

.sort-form label, .fillers-list  {
	margin-right: 15px;
	flex-grow: 1;
}

.fat-content label {
	margin: 0;
}

.sort-form label:nth-child(3) {
	margin-right: 0;
}

.range-label p, .range-label input {
	margin: 0;
	padding: 0;
}

.sort-label p {
	margin: 0;
	padding: 0;
	margin-left: 11px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	display: inline-block;
}

.sort-label select {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 100%;
	width: 100%;
	background-color: #a9bab0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	padding-left: 12px;
	border-radius: 20px
}

.select-overlay {
	height: 35px;
	width: 193px;
	margin-top: 2px;
	display: block;
	position: relative;
}

.select-overlay:after {
	content: '';
	border-style: solid;
	border-width: 10px 6px 10px 6px;
	border-color: #fff transparent transparent transparent;
	top: 13px;
	right: 15px;
	position: absolute;
}

.range	{
	position: relative;
	padding: 15px 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255, 0.2);
}

.range-label p {
	margin-left: 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 2px;
}

.range-indicator {
	height: 4px;
	width: 100%;
	background-color: rgba(255,255,255, 0.5);
}

.range button {
	border-radius: 50%;
	background-color: #fff;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.range-btn1 {
	left: 35px;
}

.range-btn1:after,
.range-btn2:after  {
	content: '';
	width: 4px;
	height: 4px;
	background-color: #ababab;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	margin-left: -2px;
	margin-top: -2px;
}

.range-btn2 {
	right: 66px;
}

.range-indicator-view {
	height: 4px;
	top: 50%;
	margin-top: -2px;
	background-color: #fff;
	left: 35px;
	position: absolute;
}

.fat-content-wrap {
	padding: 7px 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: rgba(255,255,255,0.2);
}

.fat-content-item {
	position: relative;
	padding-left: 32px;
}

.fat-content legend {
	margin-left: 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 2px;
}

.fat-indicator {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,0.8);
}

.fat-indicator:before {
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	margin-top: -3px;
	margin-left: -3px;
}

.fat-content-item input {
	display: none;
}

.fat-content-item input:checked + .fat-indicator:before {
	background-color: rgba(255,255,255,0.8);
}

